{{#each peliculas}}
<div>
    {{@index}} <br>
    {{this.name}} <br>
    {{this.desc}}
</div>
<p>fisrt: {{@first}}</p>
<p>last: {{@last}}</p>
{{#unless @last}}
<hr>
{{/unless}}

{{/each}}

{{#with city}}
    {{nombre}} <span>-></span> {{poblacion}}
{{/with}}
<div class="row">
    <div class="col s12 indigo">
        <p>s12</p>
    </div>
    <div class="col s12 m4 l2 pink">
        <p>s12 m4 l2</p>
    </div>
    <div class="col s12 m4 l8 red">
        <p>s12 m4 l8</p>
    </div>
    <div class="col s12 m4 l2 purple">
        <p>s12 m4 l2</p>
    </div>
    <div class="col s12 m4 l2 blue">
        <p>s12 m4 l2</p>
    </div>
    <div class="col s12 m4 l2 offset-l8 blue">
        <p>s12 m4 l2</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 l3 indigo">
        <p>s12 m6 l3</p>
    </div>
    <div class="col s12 m6 l3 deep-purple">
        <p>s12 m6 l3</p>
    </div>
    <div class="col s12 m6 l3 teal">
        <p>s12 m6 l3</p>
    </div>
    <div class="col s12 m6 l3 cyan">
        <p>s12 m6 l3</p>
    </div>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis necessitatibus labore tempora asperiores dolorum ipsa culpa totam ipsum laborum aspernatur nisi sapiente repellendus cum harum architecto iure, quas sed?</p>